{% extends 'base.html' %}


{% block title %} 
Questionnaire
{% endblock %}

{% block content %} 

        {% comment %} {% for question in questions %}
           Q{{question.id}}.> {{question.qn}}  
            <br>
            =>> It's answer is : {{question.correct}}  
            <br>
            <br>
        {% endfor %} {% endcomment %}
        
        {{questions}}
        {% for mcq in mcqs %}
        <p>{{ mcq.question }}</p>
        <ul>
        {% for option in mcq.options %}
        <li><input type="radio" name="{{ mcq.question }}" value="{{ option }}"> {{ option }}</li>
        {% endfor %}
        </ul>
        {% endfor %}


{% endblock %}